/datasheets/*
/Gitignored/*
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
/.vscode/*
.vscode
PlatformIO/MiniMarquee/.vscode/*
PlatformIO/MiniMarquee/.vscode/c_cpp_properties.json
PlatformIO/MiniMarquee/.vscode/launch.json
